.file_type_rlang:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_R@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_access:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_access@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_actionscript:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_actionscript@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_ae:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_ae@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_ai:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_ai@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_angular:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_angular.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_applescript:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_applescript@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_compressed:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_archive@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_audio:before{
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/audio.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_babel:before, .file_type_babelrc:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_babel@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_binary:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_binary.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_blade:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_blade@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_bower:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_bower@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_c:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_c.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_cf:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_cf@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_circleci:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_circleci@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_clojure:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_clojure@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_coffeescript:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_coffeescript@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_composer:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_composer@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_cpp:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_cpp.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_csharp:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_csharp.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_css:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_css.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_csv:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_csv.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_csv:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_csv@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_dart:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_dart@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
/*.file_type_default:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_default.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}*/
.file_type_dlang:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_dlang@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_docker:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_docker@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_dotnet:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_dotnet@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_editorconfig:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_editorconfig@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_elm:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_elm@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_erlang:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_erlang@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_eslint:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_eslint@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_ex:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_ex@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_excel:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_excel@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_font:before  {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_font.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_git:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_git.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_go:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_go@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_gql:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_gql.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_gradle:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_gradle@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_graphviz:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_graphviz.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_groovy:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_groovy.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_gruntfile:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_gruntfile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_gulpfile:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_gulpfile@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_haml:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_haml@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_haskell:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_haskell.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_haxe:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_haxe.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_html:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_html@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_image:before, .file_type_gif:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/image.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_indesign:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_indesign@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_java:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_java@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_jest:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_jest@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_js:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_js.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_json:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_json@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_jsp:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_jsp@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_jsx:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_jsx@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_julia:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_julia@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_jupyter:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_jupyter.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_kotlin:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_kotlin@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_less:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_less@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_license:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_license.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_liquid:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_liquid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_lisp:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_lisp@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_lock:before, .file_type_dotenv:before, .file_type_env:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_lock@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_log:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_log@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_lsl:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_lsl@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_lua:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_lua@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_markdown:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_markdown.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_markup:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_markup@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_matlab:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_matlab@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_maya:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_maya@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_mustache:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_mustache@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_nginx:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_nginx@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_nodejs:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_nodejs@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_note:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_note@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_npm:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_npm.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_nsis:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_nsis@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_ocaml:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_ocaml@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_onenote:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_onenote@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_pdf:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_pdf@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_perl:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_perl.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_php:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_php.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_plist:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_plist@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_postcss:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_postcss@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_postcssconfig:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_postcss@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_powerpoint:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_powerpoint@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_powershell:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_powershell@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_preferences:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_preferences@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_premiere:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_premiere@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_procfile:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_procfile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_psd:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_psd@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_psm:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_psm.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_pug:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_pug@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_puppet:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_puppet@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_python:before, .file_type_py:before, .file_type_pyc:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_python.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_rails:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_rails@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_reasonml:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_reasonml@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_riot:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_riot@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_rollup:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_rollup.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_ruby:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_ruby.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_rust:before, .file_type_rs:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_rust.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_sass:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_sass.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_scala:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_scala@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_scss:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_scss.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_settings:before, .file_type_conf:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_settings@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_shell:before, .file_type_sh:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_shell.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_sketch:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_sketch.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_slim:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_slim@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_source:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_source.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_sql:before, .file_type_db:before, .file_type_sqlite:before, .file_type_sqlite3:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_sql@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_stata:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_stata@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_stylelint:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_stylelint@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_stylus:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_stylus@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_sublime:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_sublime@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_svelte:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_svelte.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_svg:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_svg@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_swift:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_swift.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_tcl:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_tcl@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_tern:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_tern@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_tex:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_tex@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
/*.file_type_text:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_text@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}*/
.file_type_txt:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_text@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_textile:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_textile@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_todo:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_todo@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_twig:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_twig@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_typescript:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_typescript.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_video:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_video@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_vim:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_vim@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_vue:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_vue.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_wasm:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_wasm.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_webpack:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_webpack@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_windows:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_windows@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_word:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_word@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_yaml:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_yaml.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_yarn:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_yarn@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_astro:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/astro.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_certificate:before, .file_type_crt:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/certificate.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_deno:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/deno.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_django:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/django.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_godot:before, .file_type_gd:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/godot.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_key:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/key.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_kivy:before, .file_type_kv:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/kivy.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_tailwindcss:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/tailwind.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_zig:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/zig.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_replit:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/replit.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_mojo:before, .file_type_🔥:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/mojo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_nix:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/nixos.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_poetry:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/poetry.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_qwik:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/qwik.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_tsx:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/react_ts.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_tauri:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/tauri.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_vite:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/file_type_vite.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_bun:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/bun.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_bun:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/bun.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_tsconfig:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/tsconfig.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.file_type_jsconfig:before {
    display: inline-block;
    content: '';
    background-image: url('https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.acode.ayumirage/icons/jsconfig.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}